/* General Styling */
.App {
  text-align: center;
  background-color: white;
  font-family: 'Alike', serif;
}
.fixed-header {
  position: fixed;  
  top: 0;            
  left: 0;            
  width: 100%;       
  z-index: 100;
}

.background{
  background-color: #ffffff;  
}

.logo {
  width: 200px;
  height: 80px;
  position: absolute;
  left: 1rem;
  top: 0;
}

.navbar {
  background-color: #000000;
}

.navbar-nav .nav-item {
  margin-right: 2rem; /* Adjust right margin between nav items */
}
.navbar-nav .nav-link {
  color: #000000; /* Link color */
  font-size: 16px; /* Font size */ /* Space between links */
}

.navbar-nav .nav-link:hover {
  color: #000000; /* Hover color (blue) */
}

.navbar-toggler {
  border: none; /* Removes border from toggler */
}

.navbar-toggler-icon {
  background-color: #333333; /* Toggler icon color */
}

.navbar-toggler:focus {
  outline: none; /* Removes focus outline */
}


/* Heading and Subheading Animations */
.heading {
  font-size: 3rem;
  margin-top: 2.5rem;
  animation: easeInHeading 1s ease-in;
  font-family: 'Alike',serif;
  font-weight: 400;
  font-style: normal;
}

.subheading {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  opacity: 0;
  animation: easeInSubheading 1s ease-in 1s forwards;
  font-family: 'Alike',serif;
  font-weight: 400;
  font-style: normal;
}

@keyframes easeInHeading {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes easeInSubheading {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.rooms-section {
  width: 80%;
  margin: 0 auto;
  padding: 30px;
}

.room-card {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.room-card:nth-child(even) {
  flex-direction: row-reverse;
}

.room-card img {
  width: 50%;
  height: auto;
  border-radius: 15px;
  object-fit: cover;
  margin: 10px;
}

.room-details {
  width: 50%;
  padding: 20px;
}

.room-details h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.room-details p {
  font-size: 1em;
  color: #666;
  line-height: 1.6;
}



/* Travel Convenience Section */
.travel-convenience {
  text-align: center;
  padding: 40px 20px;
  background-color: #f9f9f9;
}

.travel-convenience h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.travel-convenience h3 {
  font-size: 1.5em;
  margin-bottom: 30px;
  color: black;
}

/* Travel Card Container */
.travel-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Travel Card Styling */
.travel-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 18px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  width: 250px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.travel-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.travel-card-icon {
  font-size: 2em;
  margin-bottom: 10px;
  color: #424040;
}

.travel-card h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.travel-card ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.travel-card li {
  font-size: 1em;
  color: #000000;
  margin-bottom: 5px;
}

/* Image Gallery Styling */
.custom-carousel {
  position: relative; /* Changed to relative to keep it within the normal flow */
  display: flex;
  flex-direction: column;
  margin-top: 4.5rem; /* Ensures items are stacked vertically */
}

.image-gallery {
  padding: 40px 20px;
  background-color: #f4f4f4;
  max-width: 1000px;
  margin: 0 auto;
}

.custom-carousel .carousel-item {
  transition: opacity 1s ease-in-out;
}

.custom-carousel .carousel-item video,
.custom-carousel .carousel-item img {
  max-width: 100%; /* Limits the maximum width */
  max-height: 720px; /* Limits the maximum height */
  width: auto; /* Ensures aspect ratio is maintained */
  height: auto; /* Ensures aspect ratio is maintained */
  object-fit: cover; /* Cover the entire container */
  display: block; /* Ensures proper display as block elements */
  margin: 0 auto;
}

.custom-carousel .carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  position: absolute; 
  bottom: 20px; /* Changed to add some space from the bottom */
  padding: 1rem;
  color: white;
  left: 0;
  right: 0;
  max-width: 40%; /* Ensure it doesn't span the entire width */
  margin: 0 auto; /* Center align the caption */
}

.custom-carousel .carousel-caption h3,
.custom-carousel .carousel-caption p {
  margin: 0; 
}

.carouselpara {
  font-size: 1em;
  margin-top: 1rem; /* Reduced margin for better spacing */
}


/* Components/Story.css */
.story-container {
  max-width: 800px;
  margin: 0 auto; /* Center the container horizontally */
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: justify;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.story-container h1 {
  text-align: center;
}

/* Components/Story.css */
.sustain-container {
  max-width: 800px;
  margin: 0 auto; /* Center the container horizontally */
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: justify;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.sustain-container h1 {
  text-align: center;
}


.maps {
  width: 75rem;
  height: 25rem;
  position: relative;
  margin-top:20rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
}


/* Footer Styling */
.footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
  margin-top: 20px;
}

.footer .container {
  text-align: center;
}
