.App {
  text-align: center;
  background-color: white;
  font-family: 'Alike', serif;
  font-weight: 500;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar {
  background-color: #fffffF;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
}

.nav-buttons {
  display: flex;
  justify-content: center; /* Center align buttons */
  align-items: center; /* Vertically center align items */
  flex-grow: 1; /* Take up remaining space */
}

.nav-button {
  background: none;
  border: none;
  font-size: 15px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  padding: 10px 10px; /* Reduced padding to decrease space */
  margin-left: 0.5rem; /* Adjust spacing between buttons */
  transition: all 0.3s ease;
}

.nav-button:first-child {
  margin-left: 0; /* Remove margin from the first button */
}

.nav-button:hover {
  color: #BF9B78; /* Change color on hover */
}

.logo {
  width: 200px;
  height: 80px;
  position: absolute;
  left: 1rem;
  top: 50%; /* Adjust as necessary */
  transform: translateY(-50%);
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 1.2rem; /* Adjust padding as per design */
  justify-content: flex-end; /* Align items to the right */
}

.nav-link {
  color: #000;
  font-size: 15px;
  margin-left: 1rem;
  text-decoration: none;
  transition: color 0.3s ease; /* Smooth transition for hover effect */
}

.nav-link:hover {
  color: #333;
}


.heading {
  font-size: 3rem;
  margin-top: 2.5rem;
  animation: easeInHeading 1s ease-in;
  font-family: 'Alike', serif;
  font-weight: 400;
  font-style: normal;
}

.subheading {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  opacity: 0;
  animation: easeInSubheading 1s ease-in 1s forwards;
  font-family: 'Alike', serif;
  font-weight: 400;
  font-style: normal;
}

@keyframes easeInHeading {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes easeInSubheading {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.suite-page {
  width: 80%;
  margin: 0 auto;
  padding: 30px;
  background-color: #f4f4f4;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.suite-image {
  width: 100%;
  height: auto;
  border-radius: 15px;
  margin-bottom: 20px;
}

.suite-details {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.suite-details p {
  font-size: 18px;
  color: #333;
  line-height: 1.6;
}


/* Travel Card Container */
.travel-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Travel Card Styling */
.travel-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 18px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  width: 250px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.travel-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.travel-card-icon {
  font-size: 2em;
  margin-bottom: 10px;
  color: #424040;
}

.travel-card h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.travel-card ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.travel-card li {
  font-size: 1em;
  color: #000000;
  margin-bottom: 5px;
}

/* Image Gallery Styling */
.custom-carousel {
  height: 85vh;
  max-height: 85vh;
}

.custom-carousel .carousel-item {
  height: 85vh;
  max-height: 85vh;
}

.custom-carousel .media-overlay img,
.custom-carousel .media-overlay video {
  height: 100%;
  max-height: 85vh;
  width: 100%;
  object-fit: cover; /* Ensures the media fits the container */
}

.custom-carousel .media-overlay::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 50% black overlay */
  z-index: 1;
}

.custom-carousel .carousel-caption {
  z-index: 2; /* Ensure caption is above the overlay */
}


/* Components/Story.css */


//FOOTER//
.footer {
  padding: 20px;/* Optional gradient */
  background-color: #706C61; /* Fallback color */
  color: white; /* Ensure text is readable */
}

.footer-container {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 550;
}

.left-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin-left: 7rem;
}

.social-para {
  font-size: 32px;
  margin-bottom: 0.5rem;
}

.social-icons {
  display: flex;
  gap: 1rem; /* Adjust the spacing between icons */
}

.social-logo {
  margin-top: 0.5rem;
  width: 30px;
  height: 30px;
}

.center-content {
  display: flex; /* Ensure flexbox is applied */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Align items to the right */
  text-align: center; /* Align text to the right */
  margin-right: 5rem; /* Add margin to the right */
}

.center-content p {
  margin: 5px 0;
}
.mail{
  color:white;
}
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .center-content {
    align-items: center; /* Center align for smaller screens */
    text-align: center; /* Center text for smaller screens */
    margin-right: 0; /* Remove right margin for smaller screens */
    margin-top: 20px;
  }
}
