/* General Styling */
.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  background-color: white;
}

.header {
  background-color: #f8f9fa;
  padding: 20px 50px;
}

.logo {
  width: 200px;
  height: 90px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  margin-left: 20px;
}

nav li a {
  text-decoration: none;
  color: #000;
}

/* Heading and Subheading Animations */
.heading {
  font-size: 2.5em;
  margin-top: 20px;
  animation: easeInHeading 1s ease-in;
}

.subheading {
  font-size: 1.5em;
  margin-top: 10px;
  opacity: 0;
  animation: easeInSubheading 1s ease-in 1s forwards;
}

@keyframes easeInHeading {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes easeInSubheading {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Travel Convenience Section */
.travel-convenience {
  text-align: center;
  padding: 40px 20px;
  background-color: #f9f9f9;
}

.travel-convenience h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.travel-convenience h3 {
  font-size: 1.5em;
  margin-bottom: 30px;
  color: black;
}

/* Travel Card Container */
.travel-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Travel Card Styling */
.travel-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  width: 250px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.travel-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.travel-card-icon {
  font-size: 2em;
  margin-bottom: 10px;
  color: #424040;
}

.travel-card h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.travel-card ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.travel-card li {
  font-size: 1em;
  color: #000000;
  margin-bottom: 5px;
}

/* Image Gallery Styling */
.image-gallery {
  padding: 40px 20px;
  background-color: #ffffff;
}

.image-gallery h2 {
  margin-bottom: 20px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-container {
  margin: 10px;
}

.image-container img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.maps {
  width: 75rem;
  height: 25rem;
  position: relative;
  margin-top:20rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* Footer Styling */
.footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
  margin-top: 20px;
}

.footer .container {
  text-align: center;
}
